@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  /* only hides scroll bar on x-axis */
  overflow-x: hidden;
  background-color: #333;
  color: #222;
  margin: 0;
}

.container{
  background-color: #fafafa;
/* will set the rotation point */
transform-origin: top left;
transition: 0.5s linear;
width: 100vw;
min-height: 100vh;
padding: 50px; 
}

/* container will only rotate with class show nav */
.container.show-nav{
  transform: rotate(-20deg); 
}

.circle-container{
  position: fixed; 
  top: -100px; 
  left: -100px; 
}

.circle{
  background-color: #ff7979;
  height: 200px; 
  width: 200px; 
  border-radius: 50%; 
  position: relative;
  transition: transform 0.5s linear;
}

.circle button{
  position: absolute; 
  top: 50%; 
  left: 50%; 
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px; 
  color: #fff;
}

.circle button:focus{
  outline: none; 
}

.circle button#open{
  left: 60%; 
}

.circle button#close{
  top: 60%; 
  transform: rotate(90deg);
  transform-origin: top left;

}
/* will bring the lis into view with show-nav */
.container.show-nav + nav li{
transform: translateX(0);
transition-delay: 0.3s;
}

.content img{
  max-width: 100%;
}

/* styles for navigation animation once expanded */
nav {
  position: fixed; 
  bottom: 40px;
  left: 0; 
  z-index: 100;
}

nav ul{
  list-style: none;
  padding-left: 30px;

}

nav ul li{
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  /* make menu items transition in */
  transform: translateX(-100%); 
  transition: transform 0.4s ease-in;
}
/* more space between the icons */
nav ul li i{
font-size: 20px;
margin-right: 10px;
}
/* want navs to go diagonally - grabbing all li after the initial li */
nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%); 

}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%); 
}

/* styling for the content itself */
.content{
  max-width: 1000px;
  margin: 50px auto; 

}

.content h1{
  margin: 0; 
}

.content small {
  color: #555; 
  font-style: italic;
}

.content p{
  color: #333;
  line-height: 1.5;
}